/*Style Sheet for Project Analysis (LucyStore.com) */

/*color swatch
*Red #F50000
*Teal #4e998e
*Gray Slate-y #828373
*/

/***************General Styles**************************/

body {
	font: 100% Helvetica, Arial, sans-serif;
	line-height: 1.5;
	width: 960px;
	margin: 0 auto;
	border: 15px solid #F50000;
}

h1 {
	font-size: 1.8em;
	color: #4e998e;
}

h2 {
	font-size: 1.25em;
	color: #828373;
}

h3 {
	font-size: 0.875em;
	color: #828373;
}

/***************Header***********************************/
