/*Style Sheet for Project Analysis (LucyStore.com) */

/*color swatch
*Red #F50000
*Teal #4e998e
*Gray Slate-y #828373
*/

/***************General Styles**************************/
body {
	font: 100% Helvetica, Arial, sans-serif;
	width: 960px;
	margin: 0 auto;
	border: 10px solid #828373;
}

h1 {
	font-size: 2em;
	color: #4e998e;
}

h2 {
	font-size: 1.8em;
	color: #4e998e;
	border-bottom: 4px ridge #F50000;
}

h3 {
	font-size: 1.25em;
	color: #4e998e;
}

/***************Header***********************************/
#title {
	text-align: center;
}

#title a {
	color: #4e998e;
}

/******************Intent********************************/
#intent {
	margin: 0 20px 10px 20px;
}

/*******************Comparative Analysis*******************/
#comp_analysis {
	margin: 0 20px 10px 20px;
} 

/*******************Target Audience*************************/
#audience {
	margin: 0 20px 10px 20px;
}

/******************Footer*******************************/
footer {
	text-align:center ;
}